@model LinkedNewsChatApp.Models.PersonData


 <div>
        <h2 class="edit_h">Pass data using parameters</h2>

        @using (Html.BeginForm("PostUsingParameters", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        <div class="add_input">
        <input type="text" name="Fname" placeholder="Назва новини" required />

            <br />
        <textarea class="form-control" name="Lname" placeholder="Опис новини" rows="3" required></textarea>

            <br />
            <input type="file" name="file" accept=".jpg, .jpeg, .png" required />
            <small class="form-text text-muted">Supported image formats: .jpg, .jpeg, .png</small>
            <br />
            <br />
            <input class="admin_ep" type="password" name="pass" placeholder="Password">
            <input type="submit" value="Опублікувати" />
        </div>
        }
        
   
  </div>


