@model LinkedNewsChatApp.Models.PersonData


<div>
    <h2 class="edit_h1" >Введіть пароль</h2>

    @using (Html.BeginForm("ChangeNews1", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <br />
        <input  type="password" name="pass" placeholder="Пароль" />
        <label (for="pass") Пароль></label>

        <br />
        <input type="submit" value="Підтвердити" />
    }
</div>