@model LinkedNewsChatApp.Models.PersonData


<div>
    <h2>Pass data using parameters</h2>

    @using (Html.BeginForm("ChangeNews1", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <br />
        <input type="password" name="pass" />

        <br />
        <input type="submit" value="Click me" />
    }
</div>