@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   
}

  <div class="cont" style="display:flex; justify-content:center;flex-direction: row; flex-wrap:wrap">
         <a class="News_cat" asp-action="Index" asp-route-Category="Загальне" asp-route-page="1">Загальне</a>
                       <a class="News_cat" asp-action="Index" asp-route-Category="Спорт" asp-route-page="1">Спорт</a>               
                       <a class="News_cat" asp-action="Index" asp-route-Category="Політика" asp-route-page="1">Політика</a>
                       <a class="News_cat" asp-action="Index" asp-route-Category="Війна" asp-route-page="1">Війна</a>
                       <a class="News_cat" asp-action="Index" asp-route-Category="Наука" asp-route-page="1">Наука</a>
                       <a class="News_cat" asp-action="Index" asp-route-Category="Економіка" asp-route-page="1">Економіка</a>
                       <a class="News_cat" asp-action="Index" asp-route-Category="Технології" asp-route-page="1">Технології</a>
                       <a class="News_cat" asp-action="Index" asp-route-Category="Лайт" asp-route-page="1">Лайт</a>
                       <a class="News_cat" asp-action="Index" asp-route-Category="Погода" asp-route-page="1">Погода</a>

  </div>
                    