@model IDictionary<int, Tuple<string, string, string>>

@foreach (var item in Model.Reverse())
{
<div class="news-container">
    <div class="news-color"; style="background-color:antiquewhite;">
        <h2 class="p_style1">@item.Value.Item1</h2>
        <p class="p-style">@item.Value.Item2</p>
    </div>
    <div id="news-img">
        <img class="news-img"; src="@item.Value.Item3" />
    </div>
</div>
}