@model IEnumerable<LinkedNewsChatApp.Data.News>

@{
    ViewData["Title"] = "Index";
    <head>
       

    </head>
}

<h1 class="news_hd">Новини</h1>

<div class="scroll-up-btn">
    <i class="fas fa-angle-up"></i>
</div>
   <main class="main columns">
@foreach (var item in Model)
{

  <section class="column_NI">
            <a class="article_NI"  asp-action="Data" asp-route-id="@item.id">
      <figure class="article_image">
                    @{
                        string base64String = Convert.ToBase64String(item.photo);
                    }
                    <img src="data:image/png;base64, @(base64String)" width="180" />
      </figure>
      <div class="article_body">
        <h2 class="article_title">
                        @item.title
        </h2>
        <footer id="article_info">
                        <span>@item.Time</span>
        </footer>
      </div>
    </a>
  </section>
}

</main>


            