@model IDictionary<int, Tuple<string, string, string>>

@foreach (var item in Model)
{
<div class="news-container">
    <div class="news-color"; style="background-color:antiquewhite;">
        <h2>@item.Value.Item1</h2>
        <p class="p-style">@item.Value.Item2</p>
        <img id="news-img"; src="@item.Value.Item3" />
    </div>
</div>
}