@using DataLayer
@model User
@{
    ViewData["Title"] = "Редагування профілю";
}
@section Scripts
{
<script src="~/js/passwordValidation.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity=
"sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, 
        then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity=
"sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous">
    </script>
      
    <script src=
"https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity=
"sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous">
    </script>
      
    <script src=
"https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity=
"sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous">
    </script>
    <script>

        function saveAvatarId(id) {
  // Отримання посилання на поле AvatarId
  var avatarIdInput = document.getElementById("AvatarId");
  // Збереження значення ID обраного аватара в полі
  avatarIdInput.value = id;
}
    </script>
    <style>
    .prettybtn {
  text-decoration: none;
  margin-left: 2 px;
  border: 1px solid rgb(146, 148, 248);
  position:relative;
  overflow: hidden;
  text-align: center;
  width: 250px;
  margin: 0 auto;
  display: block;
}

.prettybtn:hover {
  box-shadow: 1px 1px 25px 10px rgba(66, 206, 253, 0.4);
}
.selector {
  display: flex;
  align-items: center;
  justify-content: center;
}
.prettybtn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(230, 165, 37, 0.773),
    transparent
  );
  transition: all 650ms;
}

.prettybtn:hover:before {
  left: 100%;
}
.column {
width: 25%;
float: left;
grid-column-gap: 10px;
              grid-row-gap: 10px;
  padding: 10px;
  height: 350px;

}
.column-1 {
  width: 25%;
  float: left;
  grid-column-gap: 10px;
                grid-row-gap: 10px;
    padding: 10px;
    height: 400px;

}
.column-2 {
  width: 33%;
  float: left;
  grid-column-gap: 10px;
                grid-row-gap: 10px;
    padding: 10px;
    height: 700px;

}
.content-FP{
  margin-top: auto;
  font-size: larger;
  font-family:'Times New Roman', Times, serif ;
margin-left:  10px;
height: 1175px;
background-color:  rgb(255, 252, 234);;
}
.column-4t {
  width: 80%;
  float: left;
  grid-column-gap: 10px;
                grid-row-gap: 10px;
    padding: 10px;
    height: 30px;
  font-style: italic;
  font-size:large;

}
.imFP{

  text-align: center;
  font-style: italic;
  font-size: larger;
 background-color: rgb(255, 252, 234);
}
.column-3t {
  width: 80%;
  float: left;
  margin-top: none;
  grid-column-gap: 10px;
                grid-row-gap: 10px;
    padding: 10px;
    height: 65px;
  font-style: italic;
  font-size:large;

}
.column-fm {
  width: 80%;
  float: left;
  grid-column-gap: 10px;
                grid-row-gap: 10px;
    padding: 10px;
    height: 160px;
    font-style: italic;
  font-size:large;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.type_C{
  background-color: rgb(255, 252, 234);
}
    </style>
}
<h2>Edit Profile</h2>

<form asp-action="Edit" method="post">
    <div class="form-group">
    <label asp-for="Username">Ім'я користувача</label>
    <input asp-for="Username" class="form-control" disabled />
    <span asp-validation-for="Username" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="Email">Електронна пошта</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Region">Регіон</label>
         <select asp-for="Region" class="form-control">
                    <option value="">Оберіть область</option>
                    <option value="АР Крим">АР Крим</option>
                    <option value="Вінницька область">Вінницька область</option>
                    <option value="Волинська область">Волинська область</option>
                    <option value="Дніпропетровська область">Дніпропетровська область</option>
                    <option value="Донецька область">Донецька область</option>
                    <option value="Житомирська область">Житомирська область</option>
                    <option value="Закарпатська область">Закарпатська область</option>
                    <option value="Запорізька область">Запорізька область</option>
                    <option value="Івано-Франківська область">Івано-Франківська область</option>
                    <option value="Київська область">Київська область</option>
                    <option value="Кіровоградська область">Кіровоградська область</option>
                    <option value="Луганська область">Луганська область</option>
                    <option value="Львівська область">Львівська область</option>
                    <option value="Миколаївська область">Миколаївська область</option>
                    <option value="Одеська область">Одеська область</option>
                    <option value="Полтавська область">Полтавська область</option>
                    <option value="Рівненська область">Рівненська область</option>
                    <option value="Сумська область">Сумська область</option>
                    <option value="Тернопільська область">Тернопільська область</option>
                    <option value="Харківська область">Харківська область</option>
                    <option value="Херсонська область">Херсонська область </option>
                    <option value="Хмельницька область">Хмельницька область</option>
                    <option value="Черкаська область">Черкаська область</option>
                    <option value="Чернівецька область">Чернівецька область</option>
                    <option value="Чернігівська область">Чернігівська область</option>
                    </select>
                    <span asp-validation-for="Region" class="text-warning"></span>
                 
    </div>
        <div class="input-group form-group text-center">
                      <input type="hidden" name="AvatarId" id="AvatarId" value="" />

                            <div class="dropdown text-center">
                                <button class="btn btn-success dropdown-toggle text-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Оберіть аватар
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    @for (int i = 1; i <= 10; i++)
                                    {
                                        <li class="dropdown-item text-center">
                                 <input type="hidden" name="AvatarId" id="AvatarId" value="" /> <img src="~/avatars/@(i).png" width="48" height="48" onclick="saveAvatarId(@i)" />
                                        </li>
                                    }
                                </ul>
                            </div>
                    </div>
    <div class="form-group">
   <label asp-for="Biography"> Про себе:</label>
<textarea asp-for="Biography" class="form-control" maxlength="100"></textarea>
<span asp-validation-for="Biography" class="text-danger"></span>

    </div>
    <button type="submit" class="btn btn-primary">Зберегти</button>
</form>
