/* Common styles */
.Data_title,
.Data_text,
.Data_image,
.col-sm-10 {
    
    padding: 10px;
}
#Data_info {
    margin-top: 2%;
    font-size: 14px;
    color: #313131;
    text-align: right;
}
.Data_title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

.Data_text {
    font-weight:500;
    font-size: 18px;
    color: #1d1d1d;
}
.Data_image img {
    display: block;
    margin: auto;
    max-width: 100%;
}


.col-sm-10 {
    font-size: 14px;
    color: #888;
}

/* Page specific styles */
#Nh1 {
    font-size: 36px;
    color: #333;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

#Nh4 {
    font-size: 24px;
    color: #666;
}

#Nhr {
    border: none;
    border-top: 1px solid #eee;
}

#Ndl {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    margin: 10px;
    padding: 20px;
}

#Na {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 20px;
    transition: background-color .3s ease-in-out;
}

    #Na:hover {
        background-color: #555;
    }
