/*a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #fff !important;
    font-size:23px;
    font-weight:600;
}
    */
a {
  color: #0077cc;
}

.btn-primary {
  color: #fff !important;
  background-color: #1b6ec2;
  border-color: #1861ac;
  font-size: 20px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  font-size: 10%;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1.1rem;
  line-height: inherit;
}
.main_footer {
    position: absolute;
    background-color: #111;
    color: #ffffff;
    height:60px;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    /* Стилі для посилань в футері */
.main_footer a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

    .main_footer a:hover {
        color: #ff0000;
    }

/* Стилі для медіа запитів */

/*.main_footer {
    background-color: #3366FF; /* Колір фона 
    background-image: linear-gradient(to bottom,#032a9e, #0d62bf);
    color: #FFF; /* Колір тексту 
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    margin-top: 5%;
    max-height: 60px;
    text-align: center;
}
    */
/*footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f2f2f2; 
} */
/*#FOOT-top {
    background-image: linear-gradient(to bottom right, #e58e00, #ffbb02);
    margin-top:60% ;
    position: fixed;
    width: 100%;
    line-height: 80px;
}*/

/*
#header_imp {
    
    background-color: #3366FF; 
    color: #FFF; 
    padding: 10px;
    font-size:20px;
    background-image: linear-gradient(to bottom,#0d62bf, #032a9e);
    border-radius: 0 0 10px 5px; 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
} */

    #header_imp {
        background-color: #111;
        height: 65px;
        top: 0;
        left: 0;
        width: 100%;
        
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    }

    a.navbar-brand {
        white-space: normal;
        text-align: center;
        word-break: break-all;
        font-size: 32px;
        color: #0077cc !important;
        font-weight: 600;
        text-transform: uppercase;
    }


    .nav-link {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        margin-right: 15px;
    }

        .nav-item.active .nav-link,
        .nav-link:hover {
            color: #FF69B4;
        }


@media (max-width: 768px) {
    #header_imp {
        height: 60px;
    }

    a.navbar-brand {
        font-size: 18px;
        margin-bottom:auto;
    }

    .nav-link {
        font-size: 14px;
        margin-right: 5px;
    }
    .navbar-toggler {
        display: inline-block;
        vertical-align: middle;
        content: "";
        background: no-repeat center center;
        background-size: 100% 100%;
        margin-bottom: 3% !important;
        color: darkgray !important;
        opacity: 100% !important;
        background-color: #161616 !important;
        transition: box-shadow 0.15s ease-in-out !important;
    }

    .navbar-toggler-icon {
        background-color: #2f2f2f !important;
        opacity: 100% !important;
        color: darkgray !important;
        border: none !important;
        height: 20px !important;
        transition: box-shadow 0.15s ease-in-out;
    }
    
    .container-fluid {
        position: relative;
        z-index: 9999;
        padding: 1% !important;
        margin-bottom: 15px;
        background-color: #111;
        opacity: 0;
        transform: translateY(-5px);
        transition: opacity 0.4s ease-out, transform 0.3s ease-out;
    }

        .container-fluid.active {
            opacity: 1;
            transform: translateY(0);
        }
    

        #my_Btn.show {
            opacity: 1;
        }

        #my_Btn:hover {
            background-color: #555;
        }
}

.abt-h {
    text-align: center;
    margin: auto;
}
/*
#my_Btn {
    display: none;
    position: fixed;
    bottom: 30%;
    right: 100px;
    border: 3px groove black;
    outline: none;
    background-color: #787878;
    padding: 2rem;
    border-radius: 2rem;
    
}


    #my_Btn:hover {
        background-color: #555; 
    }

@media only screen and (max-width: 768px) {
    #my_Btn {
        bottom: 50px;
        right: 25px;
        
        padding: 32px;
        border-radius: 3rem;
    }
}


@media only screen and (max-width: 480px) {
    #my_Btn {
        bottom: 20px;
        right: 15px;
        padding: 32px;
        background-color: transparent;
        border-radius: 4rem;
    }
}*/
.nav-item {
    color: #fff !important;
}
.bg-secondary{
    width: auto !important;
}
