/*a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #fff !important;
    font-size:23px;
    font-weight:600;
}
    */
a {
  color: #0077cc;
}

.btn-primary {
  color: #fff !important;
  background-color: #1b6ec2;
  border-color: #1861ac;
  font-size: 20px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  font-size: 10%;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1.1rem;
  line-height: inherit;
}
.main_footer {
    position: absolute;
    background-color: #111;
    color: #ffffff;
    height:60px;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    /* Стилі для посилань в футері */
.main_footer a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

    .main_footer a:hover {
        color: #ff0000;
    }

/* Стилі для медіа запитів */

/*.main_footer {
    background-color: #3366FF; /* Колір фона 
    background-image: linear-gradient(to bottom,#032a9e, #0d62bf);
    color: #FFF; /* Колір тексту 
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    margin-top: 5%;
    max-height: 60px;
    text-align: center;
}
    */
/*footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f2f2f2; 
} */
/*#FOOT-top {
    background-image: linear-gradient(to bottom right, #e58e00, #ffbb02);
    margin-top:60% ;
    position: fixed;
    width: 100%;
    line-height: 80px;
}*/

/*
#header_imp {
    
    background-color: #3366FF; 
    color: #FFF; 
    padding: 10px;
    font-size:20px;
    background-image: linear-gradient(to bottom,#0d62bf, #032a9e);
    border-radius: 0 0 10px 5px; 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
} */

    #header_imp {
        background-color: #111;
        height: 65px;
        top: 0;
        left: 0;
        width: 100%;
        
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    }

    a.navbar-brand {
        margin-bottom:0.2rem;
        text-align: center;
        word-break: break-all;
        font-size: 32px;
        color: #0077cc !important;
        font-weight: 600;
        text-transform: uppercase;
    }


    .nav-link {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        margin-right: 15px;
    }

        .nav-item.active .nav-link,
        .nav-link:hover {
            color: #FF69B4;
        }


@media (max-width: 860px) {
    #header_imp {
        height: 1%;
        
    }

    a.navbar-brand {
        margin:0;
        font-size: 18px;
        vertical-align:central;
    }

    .nav-link {
        
        font-size: 13px;
        margin-right: 5px;
    }
    .navbar-toggler {
        display: inline-block;
        vertical-align: middle;
        content: "";
        background: no-repeat center center;
        background-size: 100% 100%;
        
        color: darkgray !important;
        opacity: 100% !important;
        background-color: #161616 !important;
        transition: box-shadow 0.15s ease-in-out !important;
    }
    #navbar-tog {
        width: 3rem;
        height: 3rem;
        font-size: 25px;
    }
    .navbar-toggler {
        padding:0;
        text-align:center;
        background-color: transparent !important;
        opacity: 100% !important;
        color: darkgray !important;
        border: none !important;
        transition: box-shadow 0.15s ease-in-out;
    }

    .container-fluid {
        position: relative;
        z-index: 999;
        background-color: #111;
        opacity: 1;
        padding:0 !important;
    }
    

        #my_Btn:hover {
            background-color: #555;
        }
    }

.abt-h {
    text-align: center;
    margin: auto;
}
/*
#my_Btn {
    display: none;
    position: fixed;
    bottom: 30%;
    right: 100px;
    border: 3px groove black;
    outline: none;
    background-color: #787878;
    padding: 2rem;
    border-radius: 2rem;
    
}


    #my_Btn:hover {
        background-color: #555; 
    }

@media only screen and (max-width: 768px) {
    #my_Btn {
        bottom: 50px;
        right: 25px;
        
        padding: 32px;
        border-radius: 3rem;
    }
}


@media only screen and (max-width: 480px) {
    #my_Btn {
        bottom: 20px;
        right: 15px;
        padding: 32px;
        background-color: transparent;
        border-radius: 4rem;
    }
}*/
.nav-item {
    color: #fff !important;
}
.bg-secondary{
    width: auto !important;
}
/* Стилі для кнопки вікна смайликів */
#emoji-button {
    background-color: black;
    color: white;
    border: none;
    font-size: 2.4rem;
    cursor: pointer;
}

/* Стилі для вікна смайликів */
#emoji-window {
    display: none;
    position: fixed;
    top: 81px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    min-height: 150px;
    max-height: 30%;
    max-width:40%;
    overflow: scroll;
    cursor: pointer;
    z-index: 1;
    background-color: white;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    padding: 1rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
}

    /* Стилі для смайликів */
    #emoji-window img {
        width: 3.2rem;
        height: 3.2rem;
        margin: 0.5rem;
        cursor: pointer;
    }

    /* Анімація для вікна смайликів */
    #emoji-window.show {
        display: block;
        animation: slide-up 0.2s ease-out;
    }

   #emoj {
       margin:auto;
       width:70%;
   }
@media (max-width: 768px) {
    #emoji-window {
        max-width: 60%;
    }
    #emoj {
        margin: auto;
        width: 80%;
    }
}


    /* Стилі для текстового поля */
    #messageInput {
        width: 100%;
        height: 4.5rem;
        padding: 1rem;
        font-size: 1rem;
        border: 0.1rem solid #ccc;
        border-radius: 0.4rem;
        resize: none;
        margin-bottom: 1rem;
    }



    /* Медіа-запит для адаптивності */
    @media screen and (max-width: 768px) {
        #emoji-window {
            bottom: 14rem;
            opacity: 0.9;
        }

        #messageInput {
            height: 5rem;
        }
    }
#backToMain{
    width:9.5rem;
    
    padding:0;
    white-space: normal;
    font-size:16px;
    
}
#P_container {
    max-width:100%;
padding: 50px;
}

.Profile_row {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.col-lg-6 {
    overflow-wrap: break-word;
    width: 40%;
    padding: 0 20px;
}

#P_name {
font-size: 36px;
font-weight: bold;
margin-bottom: 20px;
}

#P_text li {

font-size: 28px;
margin-bottom: 30px;
}

.display-26 {
font-size: 26px;
}

.font-weight-500 {
font-weight: 500;
}

.btn {
display: inline-block;
padding: 10px 20px;
border: none;
border-radius: 5px;
background-color: #007bff;
color: #fff;
font-size: 24px;
text-decoration: none;
}

.btn:hover {
background-color: #0069d9;
}

.btn-icon {
margin-left: 20px;
}


#P_container #P_mb .col-lg-6 img:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}
#P_container #P_mb #P_name {
    text-align:center;
    font-size: 2.2rem;
    font-weight: bold;
    padding: 10px 30px;
    background-color: #0077cc;
    border-radius: 20px;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

#P_container #P_mb #P_text li {
    width:100%;
    font-size: 1.8rem;
    margin-bottom: 30px;
}

    #P_container #P_mb #P_text li span {
        font-size: 2rem;
        font-weight: bold;
        color: #0077cc;
        text-transform: uppercase;
        margin-right: 20px;
    }

#P_container #P_mb .btn {
    font-size: 2.2rem;
    color: #0077cc;
    background-color: transparent;
    border: 2px solid #0077cc;
    border-radius: 20px;
    padding: 20px 40px;
    margin-left:0;
    margin-top: 30px;
    transition: all 0.3s ease-in-out;
}

    #P_container #P_mb .btn:hover {
        background-color: #0077cc;
        color: #fff;
        transition: all 0.3s ease-in-out;
    }

@media (max-width: 570px) {
    #P_container #P_mb #P_text li {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }

        #P_container #P_mb #P_text li span {
            font-size: 1.5rem;
            font-weight: bold;
            color: #0077cc;
            text-transform: uppercase;
            margin-right: 20px;
        }

    #P_container #P_mb .col-lg-6 img {
        width: 70%;
        height: 60%;
        border-radius: 10px;
    }

    #P_container {
        margin-left: 0;
        block-size: contain;
        padding: 2rem;
        max-width: 100%;
    }

        #P_container #P_mb .btn {
            padding: 10px 20px;
        }