@model List<GroupModel>
@using LinkedNewsChatApp.Models;
@{
ViewData["Title"] = "Чат";
}
@section Scripts
{
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<style>
.sidenav {
height: 80%;
width: 0;
position: absolute;
z-index: 1;
margin-left: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
text-align:center;         
transition: 0.5s;
padding-top: 10px;
}

.sidenav a {
    padding: 8px 12px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    opacity: 100%;
    transition: 0.3s;
}

    .sidenav a:hover {
        color: #f1f1f1;
        opacity: 100%;
    }

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    opacity: 100%;
    font-size: 36px;
    margin-left: 50px;
}


  
    .sidenav2 {
    text-align:center;
    height: 80%;
    width: 0;
    opacity: 0.9 !important;
    position: absolute;
    z-index: 1;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: width 0.5s, right 0.5s;
    padding-top: 10px;
    }

.sidenav2 a {
    padding: 8px 12px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    opacity: 100%;
    transition: 0.3s;
}

    .sidenav2 a:hover {
        color: #f1f1f1;
        opacity: 100%;
    }

.sidenav2 .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 10px;
    opacity: 100%;
}


</style>
    
    <script>
        // Отримання списку і кнопки за допомогою їх id
        var myList = document.getElementById("FriendOnlineList");
        var myButton = document.getElementById("myButton");

        // Початково ховаємо список
        myList.style.display = "none";

        // Додавання обробника події для кнопки
        myButton.addEventListener("click", function () {
            // Перевірка, чи список прихований
            if (myList.style.display === "none") {
                // Якщо список прихований, показуємо його
                myList.style.display = "block";
            } else {
                // Якщо список відображається, приховуємо його
                myList.style.display = "none";
            }
        });


        // Отримання списку і кнопки за допомогою їх id
        var myList2 = document.getElementById("FriendOnlineList2");
        var myButton2 = document.getElementById("myButton2");

        // Початково ховаємо список
        myList2.style.display = "none";

        // Додавання обробника події для кнопки
        myButton2.addEventListener("click", function () {
            // Перевірка, чи список прихований
            if (myList2.style.display === "none") {
                // Якщо список прихований, показуємо його
                myList2.style.display = "block";
            } else {
                // Якщо список відображається, приховуємо його
                myList2.style.display = "none";
            }
        });
    </script>
}
<div id="mySidenav" class="sidenav" style="opacity: 95%;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="groups-main2">
        <div id="mySidenavGroups" class="sidenavLeft2" >
        <p style="text-align:center;font-weight: bold;color:white;">Групові чати</p>
        <button id="backToMain" class="btn btn-warning btn-lg" onclick="location.href='@Url.Action("Index", "Chat")'">Головний<br />чат</button>
        <div>
            <div class="text-center">
                <h6 id="groupError"></h6>
            </div>
            <div class="form-group">
                <label style="color:white;">Введіть нову групу</label>
                <input id="GroupChatName" name="groupName" class="form-control" placeholder="" />
            </div>
            <div class="form-group">
                <input type="button" id="joinGroupButton" style="font-weight: 500;background-color:aliceblue" value="Створити" />
            </div>
                <div class="form-group">
                    <label style="color:white;">Введіть групу, щоб приєднатися</label>
                    <input id="GroupJoin" name="groupName" class="form-control" placeholder="" />
                </div>
                <div class="form-group">
                    <input type="button" id="joinButton" style="font-weight: 500;background-color:aliceblue" value="Приєднатися" />
                </div>
        </div>
        <p style="text-align:center;font-weight: bold;color:white">Чати:</p>
        <div id="groupOnlineList" class="row text-center">
            <ul id="groupList2"></ul>
        </div>
    </div>
</div>
</div>




<div id="mySidenav2" class="sidenav2" style="opacity: 90%;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>
    <div id="mySidenavUsers2" class="sidenavRight2">
        <p style="text-align:center;font-weight: bold;color:white;">Юзери онлайн</p>
        <div class="text-center">
            <h6 id="userError2"></h6>
        </div>
        <div class="form-group">
            <label style="color:white;">Добавити юзера до друзів</label>
            <input id="FriendJoin2" name="groupName" class="form-control" placeholder="" />
        </div>
        <div class="form-group">
            <input type="button" id="FriendButton2" style="font-weight: 500;background-color:aliceblue" value="Добавити друга" />
        </div>

        
        <div class="col text-center">
            <button type="button" id="myButton2" style="white-space:break-spaces;" class="btn btn-warning">Друзі</button>
        </div>
        <div class="row text-center">
            <ul id="FriendOnlineList2" ></ul>
        </div>
        <div class="form-group">
            <label style="color:white;">Введіть друга для видалення</label>
            <input id="FriendDelete2" name="groupName" class="form-control" placeholder="" />
        </div>
        <div class="form-group">
            <input type="button" id="FriendRemove2" style="font-weight: 500;background-color:aliceblue" value="Видалити друга" />
        </div>
        <div class="row text-center">
            <ul id="userOnlineList2"></ul>
        </div>
    </div>
</div>




<span  class="spbutton" style="font-size:30px;cursor:pointer;position:absolute; margin-top:0px; left:20px;color:white;" onclick="openNav()">&#9776; </span>
<span  class="spbutton2" style="font-size:30px;cursor:pointer;position:absolute; margin-top:0px; right:20px;color:white;" onclick="openNav2()">&#9776; </span>




<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "240px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>

<script>
    function openNav2() {
        document.getElementById("mySidenav2").style.width = "170px";
    }

    function closeNav2() {
        document.getElementById("mySidenav2").style.width = "0";
    }
</script>





<div class="chat-main">
    <h1 class="chatHead" style="text-align:center" ;><pre> </pre> </h1>
    <h4 class="chat-header" id="chat-intro" style="text-align:center" ;></h4>
    <div class="form-group">
        <input type="button" id="LeaveButton" value="Покинути групу" />
    </div>

    <div class="message-box">
        <ul id="messagesList"></ul>
    </div>

    <div class="chat-input">
        <div id="emoji-window" ></div>
       <button id="emoji-button" >🙂</button>
        <textarea id="messageInput" placeholder="Ваш текст тут..."></textarea>
        <button id="sendButton" > Send <i class="fa fa-paper-plane fa-x "></i></button>
    </div>
</div>

<div id="mySidenavUsers" class="sidenavRight">
    <p style="text-align:center;font-weight: bold;color:white;">Юзери онлайн</p>
    <div class="text-center">
        <h6 id="userError"></h6>
    </div>
    <div class="form-group">
        <label style="color:white;">Добавити юзера до друзів</label>
        <input id="FriendJoin" name="groupName" class="form-control" placeholder="" />
    </div>
    <div class="form-group">
        <input type="button" id="FriendButton" style="font-weight: 500;background-color:aliceblue" value="Добавити друга" />
    </div>
    <div class="col text-center">
        <button id="myButton" class="btn btn-warning text-center">Друзі</button>
        </div>
    

    <div class="row text-center">
        <ul id="FriendOnlineList"></ul>
    </div>
    <div class="form-group">
        <label style="color:white;">Введіть друга для видалення</label>
        <input id="FriendDelete" name="groupName" class="form-control" placeholder="" />
    </div>
    <div class="form-group">
        <input type="button" id="FriendRemove" style="font-weight: 500;background-color:aliceblue" value="Видалити друга" />
    </div>
    <div class="row text-center">
        <ul id="userOnlineList"></ul>
    </div>
</div>

<div class="groups-main">
        <div id="mySidenavGroups" class="sidenavLeft">
        <p style="text-align:center;font-weight: bold;color:white;">Групові чати</p>
        <button id="backToMain" class="btn btn-warning btn-lg" onclick="location.href='@Url.Action("Index", "Chat")'">Головний<br /> чат</button>
        <div>
            <div class="text-center">
                <h6 id="groupError2"></h6>
            </div>
            <div class="form-group">
                <label style="color:white;">Введіть нову групу</label>
                <input id="GroupChatName2" name="groupName" class="form-control" placeholder="" />
            </div>
            <div class="form-group">
                <input type="button" id="joinGroupButton2" style="font-weight: 500;background-color:aliceblue" value="Створити" />
            </div>

            <div class="form-group">
                <label style="color:white;">Введіть групу, щоб приєднатися</label>
                <input id="GroupJoin2" name="groupName" class="form-control" placeholder="" />
            </div>
            <div class="form-group">
                <input type="button" id="joinButton2" style="font-weight: 500;background-color:aliceblue" value="Приєднатися" />
            </div>
        </div>
        <p style="text-align:center;font-weight: bold;color:white">Чати:</p>
        <div id="groupOnlineList" class="row text-center">
            <ul id="groupList"></ul>
        </div>
    </div>
</div>
<div class="footer navbar-fixed-bottom"></div>





