@model UserModel
@{
    ViewData["Title"] = "About";

    var message = TempData["ResetPassword"];
}

<div>
    <h1 class="abt-h">About us Project</h1>
</div>

<div class="abt-par">
    <p>
        <b>Наша команда</b> -  пристрасні фахівці з різних галузей програмування, таких як веброзробка, бази даних, штучний інтелект, аналітика даних та багато інших. Наша команда була зацікавлена у створенні цікавого проєкту. І ми вирішили створити сучасний сайт новин. 
        Під час однієї з розмов команда обговорювала проблему зі споживанням новин в цифровому віці. Вони зауважили, що багато новинних  сайтів мали високий рівень реклами, неперевірену інформацію та неправдиві джерела. Ми також помітили, що багато користувачів відчували інформаційну втому, 
        оскільки вони отримували велику кількість зайвих повідомлень, але не завжди мали можливість перевірити їх правдивість. Тоді один із нас запропонував ідею створення сайту новин, який би розв'язував ці проблеми. Ідея полягала в тому, щоб створити платформу, 
        яка б поєднувала новини з надійних джерел, використовуючи технології машинного навчання та штучного інтелекту для перевірки правдивості інформації. Згодом ми назвали цей проєкт "LinkedNews". Ідея була так захоплива. Члени команди враз виявили цікавість. 
        Вони зрозуміли, що такий проєкт може змінити подання новин користувачеві. Ось тому наша команда протягом місяця старалась зробити макет сайту, щоб продемонструвати їхню ідею. Наша командна дізнавалась нові речі та вчилась їх застосовувати у своєму проєкті. Надіємось на успіх!
    </p>
</div>
<h2 style="margin-top:2%; margin-left:40%;">Наша Команда </h2>
<div class="abt-member">
    <div>
        <h3>Клуб Віктор - веб дизайнер ( UI/UX ), розробник ідей.</h3>
        <h3>Дева Василь - фронтенд та бекенд розробник, спеціаліст веб розробки. </h3>
        <h3>Черниш Оксана - фронтенд та бекенд розробник, душа команди, спеціаліст з розробки функціоналу.</h3>
        <h3>Мандзюк Анастасія - фронтенд розробник, UI/UX дизайнер.</h3>
    </div>
    <div>
        <image url('../images/example.jpg')></image>
        <image url('../images/example.jpg')></image>
        <image url('../images/example.jpg')></image>
        <image url('../images/example.jpg')></image>
    </div>
    <div>
    <h2> Контактні дані:</h2>
    <h2 class="abt-data">
        LinkedNewsApp@gmail.com
    </h2>
    </div>
</div>
