@model UserModel
@{
    ViewData["Title"] = "About";

    var message = TempData["ResetPassword"];
}

<div>
    <h1 class="abt-h">About us Project</h1>
</div>

<div class="abt-par">
    <p>
        <b>Наша команда</b> - пристрасні фахівці з різних галузей програмування, таких як веб-розробка, бази даних, штучний інтелект, аналітика даних та багато інших. Наша команда була зацікавла у створенні цікавого проекту. І ми вирішили створити сучасний сайт новин.
    Під час однієї з розмов команда обговорювала проблему зі споживанням новин в цифровому віці. Вони зауважили, що багато новинових сайтів мали високий рівень реклами, неперевірену інформацію та недостовірні джерела. Ми також помітили, що багато користувачів відчували інформаційну втому, 
    оскільки вони отримували велику кількість новинових повідомлень, але не завжди мали можливість перевірити їх достовірність. Тоді один із нас запропонував ідею створення сайту новин, який би розв'язував ці проблеми. Ідея полягала в тому, щоб створити платформу, 
    яка б поєднувала новини з надійних джерел, використовуючи технології машинного навчання та штучного інтелекту для перевірки достовірності інформації. Згодом ми назвали цей проект "LinkedNews". Ідея була так захоплива, що члени команди враз виявили цікавість. 
    Вони зрозуміли, що такий проект може змінити подання новин користувачеві. Ось тому наша команда протягом місяця старалась зробити макет сайту, щоб продемонструвати їхню ідею. Наша командна навчалась новим речам та вчилась їх застосовувати у своєму проєкті. Надіємось на успіх!
    </p>
</div>
<h2 style="margin-top:2%; margin-left:40%;">Наша Команда </h2>
<div class="abt-member">
    <div>
        <h3>Клуб Віктор - веб дизайнер ( UI/UX ), розробник ідей.</h3>
        <h3>Дева Василь - фронтенд та бекенд розробник, спеціаліст веб розробки. </h3>
        <h3>Черниш Оксана - фронтенд та бекенд розробник, душа команди, спеціаліст з розробки функціоналу.</h3>
        <h3>Мандзюк Анастасія - фронтенд розробник, UI/UX дизайнер.</h3>
    </div>
    <div>
        <image url('../images/example.jpg')></image>
        <image url('../images/example.jpg')></image>
        <image url('../images/example.jpg')></image>
        <image url('../images/example.jpg')></image>
    </div>
    <h2 class="abt-data">
        Контактні дані:
        LinkedNewsApp@gmail.com
    </h2>
</div>
